[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
tiktoken = "*"
pypdf = "*"
faiss-cpu = "*"
unstructured = "*"
nltk = "*"
fastapi = "*"
jinja2 = "*"
uvicorn = "*"
streamlit = "*"
streamlit-chat = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
